.logo {
  display: flex;
}

.lh-40 {
  line-height: 60px;
  padding-top: 22px;
}

h1 {
  line-height: 60px;
  font-size: 35px;
  color: #000;
}

a {
  text-decoration: none !important;
}

hr {
  margin: 20px 0;
}

.right-nav {
  justify-content: flex-end;
  display: flex;
  height: 60p;
  padding: 10px 0 20px;
  align-items: center;
}

#error-message-session {
  color: red;
  float: right;
}

.title{
  color: red;
}

.display-none {
  display: none;
}

#error_explanation ul li {
  color: red;
}

.fa-thumbs-up, .fa-thumbs-down {
  margin-left: 2px;
  color: black;
}

.voted {
  color: blue;
}

.unvoted {
  color: black;
}

.card {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.button-share {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 360px;
}

/* Reponsive */

@media screen and (max-width: 1200px) {
  .right-nav {
    justify-content: flex-start;
  }
  #error-message-session {
    float: left;
  }
}
